<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google OAuth Redirect</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string
                    >com.googleusercontent.apps.691362539512-5q7acpu3f5snun87a8fagrtfjk8dtmmn</string>
			</array>
		</dict>
	</array>
	<key>GOOGLE_CLIENT_ID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>LSUIElement</key>
	<true />
	<key>SUEnableInstallerLauncherService</key>
	<true />
	<key>SUFeedURL</key>
	<string>https://github.com/2fd/callisto/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>i1r25WNY+yrsgC40xvdbhLwokNIaJxUwRe44R9cw46w=</string>
</dict>
</plist>
